<phpunit
    bootstrap="vendor/autoload.php">

    <testsuites>
        <testsuite name="full">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="docs/coverage" />
        <log type="coverage-clover" target="logs/clover.xml"/>
    </logging>

    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"></listener>
    </listeners>
</phpunit>
